@model WebApp.Models.Dto.Student.StudentDto

@{
    ViewData["Title"] = "Inativar - Aluno " + Model.Nome;
}

<h4 style="padding-top: 50px">@ViewData["Title"]</h4>
<hr />
<div class="row">

    <div class="col-md-6">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Usuario)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Usuario)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="INATIVAR" class="btn btn-danger" />
            <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
        </form>
    </div>
</div>
